<div class="row">
  
    <div class="column">
      <p>LOCATION</p>
      <img src="https://i.pinimg.com/736x/3d/3d/20/3d3d2006fb63b4d3612ce408752ac3bf.jpg" height="100%"/>
    </div>
  
    <div class="column">
      <p>TEMP (Celsius)</p>
      <div class="temp">
        <h1>{{ temp }} ºC</h1>
      </div>
    </div>
    
    <div class="column">
      <p>CLIMATOLOGÍA</p>
      <img alt="sunny" src="https://www.freeiconspng.com/uploads/weather-icon-png-8.png" height="100%"/>
    </div>
  </div>
