.column {
    float: left;
    width: 33.33%;
    height: 250px;
    text-align: center;
    font-size: 25px;
    border: 1px black;
}

/* Clear floats after the columns */
.row:after {
    content: '';
    display: table;
    clear: both;
}
.temp {
    display: inline;
    height: 250px;
    margin-top: 10%;
    margin-left: 20%;
}