<app-header
  title="{{ title }}"
  (setCityTempEvent)="actualizarTemperatura($event)"
  (setCityNameEvent)="actualizarCiudad($event)"
></app-header>

<app-body bind-temp="temp" bind-city="city"></app-body>

<app-footer
  [footer]="footer"
  [fecha]="fecha"
  (setFooterEvent)="updateFooterText($event)"
></app-footer>

<!--DISTINTAS FORMAS DE PASAR UNA VARIABLE -->
<!-- <app-body temp="{{temp}}"></app-body> En este caso solo se pasa el valor de un texto -->
<!-- <app-footer [temp]="temp"></app-footer> En este caso se pueden pasar objetos completos -->
<!-- <app-body [temp]="temp"></app-body> En este caso también se pueden pasar objetos completos -->
