<app-header
  title="{{ title }}"
  (setCityTempEvent)="actualizarTemperatura($event)"
  (setCityNameEvent)="actualizarCiudad($event)"
></app-header>

<app-body bind-temp="temp" bind-city="city" bind-imagen="imagen"></app-body>

<app-footer
  [footer]="footer"
  (setFooterEvent)="updateFooterText($event)"
></app-footer>

<!--DISTINTAS FORMAS DE PASAR UNA VARIABLE -->
<!-- <app-body temp="{{temp}}"></app-body> -->
<!-- <app-footer [temp]="temp"></app-footer> -->
<!-- <app-body [temp]="temp"></app-body> -->
